### 捉虫大师

这是我公众号内容的备份仓库，专注中间件开发，写一些后端相关文章，偶尔跑题，文章朴素，如果觉得对你有一点帮助，帮忙给个关注~

![捉虫大师](./qrcode_small.jpg)

### 文章列表

|序号|文章|链接|
|---|---|---|
|%seq|[Cobar提出的一种在分库场景下对Order By / Limit 的优化](其他/Cobar提出的一种在分库场景下对Order%20By:%20Limit%20的优化.md)|https://mp.weixin.qq.com/s/OK_Uiw0qBa9E1dlm7GLzdw https://xie.infoq.cn/article/962191014deb0945f17926b4a https://www.mdnice.com/writing/a5efc7b1dac447dabdf6903b101f7b12 https://cloud.tencent.com/developer/article/1887440 https://zhuanlan.zhihu.com/p/420477237 https://juejin.cn/post/7017997720023465997 https://www.jianshu.com/p/80635e12a455 https://www.helloworld.net/p/1412672738 https://blog.csdn.net/lkxiaolou/article/details/120718903 https://www.cnblogs.com/zhuochongdashi/p/15396751.html https://www.toutiao.com/i7018003331213804068/|
|%seq|[案例分享 dubbo 2.7.12 bug导致线上故障](dubbo/案例分享%20dubbo%202.7.12%20bug导致线上故障.md)|https://www.mdnice.com/writing/3079cbea0b7c4a219d72cc397ed6d52f https://mp.weixin.qq.com/s/6BETdcQhAZlwd7a2BV74HQ https://juejin.cn/post/7012434934161735687/ https://xie.infoq.cn/article/a0c88cc639080ea889d06015f https://zhuanlan.zhihu.com/p/414441500 https://www.jianshu.com/p/a79246396538 https://cloud.tencent.com/developer/article/1883072 https://www.cnblogs.com/zhuochongdashi/p/15341912.html https://blog.csdn.net/lkxiaolou/article/details/120503940 https://www.helloworld.net/p/7139462199 https://www.toutiao.com/i7017650837954626061/|
|%seq|[小白也能看懂的dubbo3应用级服务发现详解](dubbo/小白也能看懂的dubbo3应用级服务发现详解.md)|https://mp.weixin.qq.com/s/7r5yK5-WRGIFvSFgo7UmxQ https://juejin.cn/post/7007608760998821902/ https://xie.infoq.cn/article/7009357e59995632edf30067a https://zhuanlan.zhihu.com/p/410159594 https://cloud.tencent.com/developer/article/1876828 https://www.helloworld.net/p/7571334817 https://www.jianshu.com/p/a9cb11d42f71 https://www.mdnice.com/writing/821b26c80be6469abb96da66d758d76d https://blog.csdn.net/lkxiaolou/article/details/120282380 https://www.cnblogs.com/zhuochongdashi/p/15266460.html https://www.toutiao.com/i7017660370148016670/|
|%seq|[写了一年golang，来聊聊进程、线程与协程](其他/写了一年golang，来聊聊进程、线程与协程/写了一年golang，来聊聊进程、线程与协程.md)|https://www.toutiao.com/item/7018774913372733966 https://www.helloworld.net/p/8998784661 https://www.cnblogs.com/zhuochongdashi/p/15245612.html https://www.jianshu.com/p/5d19eb1dc326 https://blog.csdn.net/lkxiaolou/article/details/120194646 https://zhuanlan.zhihu.com/p/408217153 https://cloud.tencent.com/developer/article/1874821 https://xie.infoq.cn/article/7d6f22f0d84e37d5434962761 https://juejin.cn/post/7005448369778737182/ https://mp.weixin.qq.com/s/Tek6WIiDO6Oj7pitKl3v9Q https://www.mdnice.com/writing/5d14a7fdfe3347919bea6ed665cb17fd|
|%seq|[我在组内的Nacos分享](服务发现/我在组内的Nacos分享/我在组内的Nacos分享.md)|https://mp.weixin.qq.com/s/EBlaD_Ud5Mj6a2wue8YVPA https://juejin.cn/post/7000553463914446862 https://xie.infoq.cn/article/b548ac8ce5c8b9dde64774d13 https://zhuanlan.zhihu.com/p/403683438 https://www.mdnice.com/writing/5ee6f29297e84599be63479d2150febe https://cloud.tencent.com/developer/article/1868061 https://www.jianshu.com/p/90bac11dd02d https://www.helloworld.net/p/2116793991 https://blog.csdn.net/lkxiaolou/article/details/119939134 https://www.cnblogs.com/zhuochongdashi/p/15191313.html|
|%seq|[Dubbo No provider问题排查思路](dubbo/Dubbo%20No%20provider问题排查思路/Dubbo%20No%20provider问题排查思路.md)|https://mp.weixin.qq.com/s/X2NDRSKgIrKsy3CdVo6WqQ https://www.mdnice.com/writing/93bc5321ce384c79b6cb80e5cc184682 https://juejin.cn/post/6995836374096019470/ https://xie.infoq.cn/article/20615e66fa4c650753a050f60 https://zhuanlan.zhihu.com/p/399495367 https://cloud.tencent.com/developer/article/1861417 https://www.jianshu.com/p/47e1fcf89bb3 https://www.helloworld.net/p/6540805033 https://www.cnblogs.com/zhuochongdashi/p/15138300.html https://blog.csdn.net/lkxiaolou/article/details/119680218|
|%seq|[Nacos注册中心之概要设计](服务发现/Nacos注册中心之概要设计/Nacos注册中心之概要设计.md)|https://mp.weixin.qq.com/s/P28hOFjZgCqKKBKB8Y6JzA https://juejin.cn/post/6992532992367263774 https://xie.infoq.cn/article/51c1597c78236a74076ed39a9 https://zhuanlan.zhihu.com/p/396388785 https://cloud.tencent.com/developer/article/1857218 https://www.jianshu.com/p/eb88ebaab981 https://www.cnblogs.com/zhuochongdashi/p/15107988.html https://blog.csdn.net/lkxiaolou/article/details/119452066 https://www.mdnice.com/writing/a6ba58727d244e69bac95cce2b847518 https://www.helloworld.net/p/4175039698|
|%seq|[使用dubbo-go搭建dubbo接口测试平台](dubbo/使用dubbo-go搭建dubbo接口测试平台/使用dubbo-go搭建dubbo接口测试平台.md)|https://www.cnblogs.com/zhuochongdashi/p/15046069.html https://blog.csdn.net/lkxiaolou/article/details/119007858 https://cloud.tencent.com/developer/article/1851337 https://www.jianshu.com/p/d86cf55a5da3 https://mp.weixin.qq.com/s/E17w7zc3JvaRH9sSsmCRTQ https://juejin.cn/post/6987198484210253855 https://xie.infoq.cn/article/48c3c4be01d882c64f00a6f35 https://zhuanlan.zhihu.com/p/391680982 https://www.helloworld.net/p/5470146882 https://www.mdnice.com/writing/2d6879f110c44346890d9b38d92dcf03|
|%seq|[Cobar源码分析之AST](其他/Cobar源码分析之AST/Cobar源码分析之AST.md)|https://www.cnblogs.com/zhuochongdashi/p/cobar_ast.html https://mp.weixin.qq.com/s/xp0hlRemUjlzoNmzv5lPlQ https://juejin.cn/post/6982148341761048613/ https://zhuanlan.zhihu.com/p/387572121 https://cloud.tencent.com/developer/article/1843524 https://xie.infoq.cn/article/eeaf82a3aa6ace5d088db67d2 https://www.jianshu.com/p/a351399921f8 https://blog.csdn.net/lkxiaolou/article/details/118556000 https://www.helloworld.net/p/0636156774 https://www.mdnice.com/writing/ab8fb9b37eb749b692eec0d64c7dd257|
|%seq|[dubbo 2.7应用级服务发现踩坑小记](dubbo/dubbo%202.7应用级服务发现踩坑小记/dubbo%202.7应用级服务发现踩坑小记.md)|https://www.cnblogs.com/zhuochongdashi/p/14999767.html https://blog.csdn.net/lkxiaolou/article/details/118227108 https://www.helloworld.net/p/9751893678 https://xie.infoq.cn/article/f027177ceffe2b8955f6f4bad https://mp.weixin.qq.com/s/22qcAHjRp7KpgZtNElKM9g https://www.jianshu.com/p/510d48590846 https://juejin.cn/post/6977583797223030820/ https://zhuanlan.zhihu.com/p/383871475 https://cloud.tencent.com/developer/article/1839247 https://mdnice.com/writing/97eff4d95c644ddd818e52499806dcab|
|%seq|[给dubbo贡献源码，做梦都在修bug](dubbo/给dubbo贡献源码，做梦都在修bug/给dubbo贡献源码，做梦都在修bug.md)|https://www.cnblogs.com/zhuochongdashi/p/15005067.html https://www.mdnice.com/writing/8de7915c19d2445f9cec8a0c4e2f6a79 https://www.jianshu.com/p/b276f1e81e91 https://www.helloworld.net/p/8kxGUpmS6wF8X https://cloud.tencent.com/developer/article/1835156 https://blog.csdn.net/lkxiaolou/article/details/117885500 https://juejin.cn/post/6972881272196562974/ https://xie.infoq.cn/article/2fef5113ef7e88f7eebebee4e https://zhuanlan.zhihu.com/p/380229114 https://mp.weixin.qq.com/s/LsuIr_78iIxt6ySh2NQadg|
|%seq|[nacos配置中心模块详解](其他/nacos配置中心模块详解/nacos配置中心模块详解.md)|https://www.cnblogs.com/zhuochongdashi/p/15047469.html https://www.mdnice.com/writing/17eb1c4799474ab79260829b9506c541 https://www.jianshu.com/p/30a22a54bdfb https://blog.csdn.net/lkxiaolou/article/details/117965924 https://xie.infoq.cn/article/161748fc741ff162ee2d73dd9 https://cloud.tencent.com/developer/article/1834767 https://mp.weixin.qq.com/s/kjkXGWQA6pA6UTJakhFmrw https://juejin.cn/post/6971977762806431780 https://zhuanlan.zhihu.com/p/379673741 https://www.helloworld.net/p/GVmJhV7tALU4J|
|%seq|[redis在微服务领域的贡献](其他/redis在微服务领域的贡献/redis在微服务领域的贡献.md)|https://www.mdnice.com/writing/f3078c7f6a93477283a1c527778e0ec8 https://www.helloworld.net/p/D0VnT3LcLMCVO https://blog.csdn.net/lkxiaolou/article/details/117289802 https://www.jianshu.com/p/3ffb0477d15f https://zhuanlan.zhihu.com/p/375312222 https://mp.weixin.qq.com/s/kKAAf_6vKn-KHvr9YMNDQQ https://cloud.tencent.com/developer/article/1828290 https://juejin.cn/post/6966410689732673567 https://xie.infoq.cn/article/27cd1dbe25c11dd76adcd7eea |
|%seq|[rocketmq优雅停机往事](其他/rocketmq优雅停机往事/rocketmq优雅停机往事.md)|https://www.mdnice.com/writing/020d5fa15d844f0cb4b5f27ec0bcf3ce https://www.helloworld.net/p/oA2nf7Jh5gtV4 https://cloud.tencent.com/developer/article/1825705 https://xie.infoq.cn/article/9e95922b572654856d9f7eefa https://mp.weixin.qq.com/s/BLd2NnFwjB0mH3hA2_zcWQ https://juejin.cn/post/6959770172932489252 https://zhuanlan.zhihu.com/p/370629518 https://blog.csdn.net/lkxiaolou/article/details/116592530 https://www.jianshu.com/p/335524d1fc6e|
|%seq|[排查dubbo接口重复注销问题，我发现了一个巧妙的设计](dubbo/排查dubbo接口重复注销问题，我发现了一个巧妙的设计/排查dubbo接口重复注销问题，我发现了一个巧妙的设计.md)|https://www.cnblogs.com/zhuochongdashi/p/14983433.html https://www.helloworld.net/p/O9DjuGeiALU2D https://xie.infoq.cn/article/0658b6db850ab56e0125fc3a5 https://www.jianshu.com/p/f86880fdf48c https://mp.weixin.qq.com/s/nJsTU_bHBnB55NmF2_DJNw https://juejin.cn/post/6956169686501294116 https://zhuanlan.zhihu.com/p/368620431 https://cloud.tencent.com/developer/article/1822773 https://blog.csdn.net/lkxiaolou/article/details/116306612|
|%seq|[ShutdownHook原理](其他/shutdownHook原理/shutdownHook原理.md)|https://www.helloworld.net/p/XGzXugbimvcjd https://xie.infoq.cn/article/00003f4d55adf64083b3e66fd https://www.jianshu.com/p/686bcb087cc5 https://mp.weixin.qq.com/s/M1ER1oZt8hkAPJsFLIaOTg https://juejin.cn/post/6954972766994956318 https://zhuanlan.zhihu.com/p/367770375 https://cloud.tencent.com/developer/article/1816345 https://blog.csdn.net/lkxiaolou/article/details/116396547|
|%seq|[低开销获取时间戳](其他/低开销获取时间戳/低开销获取时间戳.md)|https://www.helloworld.net/p/VR59IKLhQoCpG https://blog.csdn.net/lkxiaolou/article/details/116986140 https://xie.infoq.cn/article/546aeecd21c492ba5509c7adc https://www.jianshu.com/p/39be4491ee3a https://mp.weixin.qq.com/s/hs11xUNF7Vh-zO6zeaXXmw https://juejin.cn/post/6953601733519998989 https://zhuanlan.zhihu.com/p/368199252 https://cloud.tencent.com/developer/article/1816343|
|%seq|[升级dubbo，小心default.version](dubbo/升级dubbo，小心default.version/升级dubbo，小心default.version.md)|https://www.helloworld.net/p/XGGxUgbimvcjd https://xie.infoq.cn/article/8d845c2dea01100f9320ddfd8 https://www.jianshu.com/p/b7958bae3c41 https://mp.weixin.qq.com/s/hm1OTOma__6UIMYa3wfmxg https://juejin.cn/post/6946528185248907295 https://zhuanlan.zhihu.com/p/370075876 https://cloud.tencent.com/developer/article/1810794 https://blog.csdn.net/lkxiaolou/article/details/116671828 |
|%seq|[Cobar SQL审计的设计与实现](其他/Cobar%20SQL审计的设计与实现/Cobar%20SQL审计的设计与实现.md)|https://www.mdnice.com/writing/04f72fb9178d4248ab51aa03fa923d88 https://www.helloworld.net/p/B03aS4dcJmi0o https://blog.csdn.net/lkxiaolou/article/details/117017016 https://xie.infoq.cn/article/34981de47febc5f4e8f4f3d0a https://www.jianshu.com/p/9986a20e164f https://mp.weixin.qq.com/s/OEuZIfbKba8sq_rect809w https://juejin.cn/post/6942331449324339236 https://zhuanlan.zhihu.com/p/368054622 https://cloud.tencent.com/developer/article/1804692|
|%seq|[几个你不知道的dubbo注册中心细节](dubbo/几个你不知道的dubbo注册中心细节/几个你不知道的dubbo注册中心细节.md)|https://www.helloworld.net/p/VRRGsKLhQoCpG https://xie.infoq.cn/article/0c4a8c13f649604f7db4915c8 https://www.jianshu.com/p/79fb18a118c1 https://mp.weixin.qq.com/s/C32EYc9VWGXDgjJe5S6Ayw https://juejin.cn/post/6940110463417974820 https://zhuanlan.zhihu.com/p/367772683 https://cloud.tencent.com/developer/article/1804688 https://blog.csdn.net/lkxiaolou/article/details/116693282|
|%seq|[聊聊dubbo协议2](dubbo/聊聊dubbo协议2/聊聊dubbo协议2.md)|https://blog.csdn.net/lkxiaolou/article/details/117221284 https://xie.infoq.cn/article/889cd0c5163e876d6b2d4d2c3 https://www.helloworld.net/p/m77mILGuaJTr6 https://www.jianshu.com/p/2e17f885bbbe https://juejin.cn/post/6963815553454735397/  https://mp.weixin.qq.com/s/x5iNm9Ex3Frha7q94mdAmw https://zhuanlan.zhihu.com/p/371629715 https://cloud.tencent.com/developer/article/1796842|
|%seq|[聊聊dubbo协议](dubbo/聊聊dubbo协议/聊聊dubbo协议.md)|https://www.helloworld.net/p/LooYSAYCrwFYk https://blog.csdn.net/lkxiaolou/article/details/117116064 https://xie.infoq.cn/article/a98afea6beabb2e3b338cc872 https://www.jianshu.com/p/fa9adb5ce82c https://juejin.cn/post/6963243154476630053 https://mp.weixin.qq.com/s/l5F-lJSuuhXerI88e7_U9Q https://zhuanlan.zhihu.com/p/371507445 https://cloud.tencent.com/developer/article/1796841|
|%seq|[dubbo的前世今生](dubbo/dubbo的前世今生/dubbo的前世今生.md)|https://www.mdnice.com/writing/5f1818f8db5145c8bd6200f321baca76 https://blog.csdn.net/lkxiaolou/article/details/117254713 https://xie.infoq.cn/article/571b27e40dd39eafba1f6b97d https://www.helloworld.net/p/m7gQcLGuaJTr6 https://juejin.cn/post/6964186115691511839 https://zhuanlan.zhihu.com/p/373231588 https://www.jianshu.com/p/fde182e83eb6 https://mp.weixin.qq.com/s/hXddvr6tMdgSVln97mHBKw https://cloud.tencent.com/developer/article/1785246|
|%seq|[实测Tengine开源的Dubbo功能](dubbo/实测Tengine开源的Dubbo功能/实测Tengine开源的Dubbo功能.md)|https://www.mdnice.com/writing/d9b835ef939748a2bd1fbff1ea1620cd https://blog.csdn.net/lkxiaolou/article/details/117372955 https://www.helloworld.net/p/KPMvs5af3lHmw https://xie.infoq.cn/article/35da7c471e070dafdfb0e760a https://zhuanlan.zhihu.com/p/374094939 https://cloud.tencent.com/developer/article/1826520 https://www.jianshu.com/p/57321c1994b3 https://mp.weixin.qq.com/s/-bA3cGDSwFa63aq0s8AUFA https://juejin.cn/post/6960826099727073310|
|%seq|[盘点golang中的开发神器](其他/盘点golang中的开发神器/盘点golang中的开发神器.md)|https://www.mdnice.com/writing/d8f408b8bed945de8ea78e82c3e75f98 https://blog.csdn.net/lkxiaolou/article/details/117436131 https://www.helloworld.net/p/z4xvtj0sG2hZz https://xie.infoq.cn/article/059ac2099d730ba2c558a3688 https://zhuanlan.zhihu.com/p/374766516 https://www.jianshu.com/p/a2d898012069 https://mp.weixin.qq.com/s/CF5GJOu0D4mi7QYC-XfMKg https://juejin.cn/post/6961629710988099615 https://cloud.tencent.com/developer/article/1760951|
|%seq|[OpenResty入门](其他/OpenResty入门/OpenResty入门.md)|https://www.mdnice.com/writing/439736735f4a42bc954dcdd7609badf3 https://blog.csdn.net/lkxiaolou/article/details/117511714 https://www.helloworld.net/p/gKLlCa3hzOF2P https://xie.infoq.cn/article/48b63f75d5205596e25c5946b https://zhuanlan.zhihu.com/p/375068719 https://www.jianshu.com/p/ca0faf716018 https://juejin.cn/post/6964552080405053476/ https://mp.weixin.qq.com/s/9RBf6Wa-oYEnCCYFMhMrvg https://cloud.tencent.com/developer/article/1760949|
|%seq|[dubbo应用级服务发现初体验](dubbo/dubbo应用级服务发现初体验/dubbo应用级服务发现初体验.md)|https://www.mdnice.com/writing/d6e345642ad148dd9d8a3cced86f28fe https://blog.csdn.net/lkxiaolou/article/details/117549562 https://www.helloworld.net/p/LoK5uAYCrwFYk https://xie.infoq.cn/article/017faba160588959c7ff6ff82 https://www.jianshu.com/p/7e6e74db0572 https://mp.weixin.qq.com/s/nM7BFnW-I3A3mmLOPmBJJw https://juejin.cn/post/6868594127870066702 https://zhuanlan.zhihu.com/p/369644224 https://cloud.tencent.com/developer/article/1760947|
|%seq|[当我们谈注册中心时谈什么](服务发现/当我们谈注册中心时谈什么/当我们谈注册中心时谈什么.md)|https://www.mdnice.com/writing/b29d9b3159c4434a9a675114aa83ff84 https://www.helloworld.net/p/VRlMUKLhQoCpG https://blog.csdn.net/lkxiaolou/article/details/117325960 https://zhuanlan.zhihu.com/p/375678388 https://xie.infoq.cn/article/c7ed38799eac5eea057aeced8 https://www.jianshu.com/p/c2ff7279d805 https://mp.weixin.qq.com/s/-PjerA5k7xoFAROL5v3Xnw https://juejin.cn/post/6859322919143604231 https://cloud.tencent.com/developer/article/1761543|
|%seq|[dubbo网关演进之路](dubbo/dubbo网关演进之路/dubbo网关演进之路.md)|https://blog.csdn.net/lkxiaolou/article/details/118310315 https://www.helloworld.net/p/gKz4ca3hzOF2P https://xie.infoq.cn/article/0136c889138ca507c2fbb953f https://www.jianshu.com/p/4f084e26dd9f https://mp.weixin.qq.com/s/qyD-8ovFoZW_N5eAxEY20w https://juejin.cn/post/6845166891539906573 https://zhuanlan.zhihu.com/p/368898386 https://cloud.tencent.com/developer/article/1760946|
|%seq|[一种极致性能的缓冲队列](其他/一种极致性能的缓冲队列/一种极致性能的缓冲队列.md)|https://www.mdnice.com/writing/c400d96101ed4b3c9aeae2bcb2597f5f https://blog.csdn.net/lkxiaolou/article/details/117659210 https://www.helloworld.net/p/z435hj0sG2hZz https://zhuanlan.zhihu.com/p/376126739 https://xie.infoq.cn/article/279d06f6ffd66acc36103ba6f https://www.jianshu.com/p/714df9502be5 https://mp.weixin.qq.com/s/hmtx8BnUDp1onCJ99rdQ9g https://juejin.cn/post/6844904194902622216 https://cloud.tencent.com/developer/article/1760944|
|%seq|[cpu分析利器 — async-profiler](问题排查/cpu分析利器%20—%20async-profiler/cpu分析利器%20—%20async-profiler.md)|https://www.mdnice.com/writing/361994ac3154484e8d9d9e28975ed91b https://blog.csdn.net/lkxiaolou/article/details/118480538 https://www.helloworld.net/p/deaQSj9sJni51 https://zhuanlan.zhihu.com/p/376922727 https://xie.infoq.cn/article/58d2a013a045d2ff3d542a6a1 https://www.jianshu.com/p/039d66a2bcc8 https://mp.weixin.qq.com/s/8mEBjVsptz9O_vU-TxOTxg https://juejin.cn/post/6844904180671315975 https://cloud.tencent.com/developer/article/1760942|
|%seq|[zookeeper到nacos的迁移实践](服务发现/zookeeper到nacos的迁移实践/zookeeper到nacos的迁移实践.md)|https://www.mdnice.com/writing/77a3eab93feb44169bf96408353ed5e8 https://blog.csdn.net/lkxiaolou/article/details/118660431 https://www.helloworld.net/p/53Pai3xc47iVD https://zhuanlan.zhihu.com/p/377509023 https://xie.infoq.cn/article/8447b8c627d04346ecf4974af https://www.jianshu.com/p/533c69607240 https://mp.weixin.qq.com/s/8XdbLrlzHhofiC089AMb1Q https://juejin.cn/post/6844904167924826119 https://cloud.tencent.com/developer/article/1761542|
|%seq|[实现一个比LongAdder更高性能的计数器有多难](其他/实现一个比LongAdder更高性能的计数器有多难/实现一个比LongAdder更高性能的计数器有多难.md)|https://www.mdnice.com/writing/a6c53949786d44da8712dbd73882c167 https://blog.csdn.net/lkxiaolou/article/details/118692617 https://www.helloworld.net/p/9473824775 https://zhuanlan.zhihu.com/p/377800177 https://xie.infoq.cn/article/a1e85b3f0d034bca2ab674542 https://www.jianshu.com/p/eb132c9daa03 https://mp.weixin.qq.com/s/N1scBcRr3Zz6kzanMNyN0Q https://juejin.cn/post/6844904163281731597 https://cloud.tencent.com/developer/article/1760940|
|%seq|[如何设计一款“高可用高性能”的发号器](其他/如何设计一款“高可用高性能”的发号器/如何设计一款“高可用高性能”的发号器.md)|https://www.mdnice.com/writing/c2b161a692814d23ab98070d3fc0092a https://blog.csdn.net/lkxiaolou/article/details/119023949 https://www.helloworld.net/p/4008048851 https://zhuanlan.zhihu.com/p/378559490 https://xie.infoq.cn/article/cf31eba825e6439ca0f94ebcb https://www.jianshu.com/p/e6e0fec21d4c https://mp.weixin.qq.com/s/LbEZEdmq34JQZ1rSwx2_oA https://juejin.cn/post/6844904163277537293 https://cloud.tencent.com/developer/article/1760937|
|%seq|[AtomicStampedReference是怎样解决CAS的ABA问题](其他/AtomicStampedReference是怎样解决CAS的ABA问题/AtomicStampedReference是怎样解决CAS的ABA问题.md)|https://www.mdnice.com/writing/005199d5a9234a62b1da699b0d1a35c0 https://www.helloworld.net/p/1352969338 https://zhuanlan.zhihu.com/p/380413219 https://xie.infoq.cn/article/2b4e283533db52f1180171ced https://www.jianshu.com/p/ad91881bc387 https://mp.weixin.qq.com/s/riBsXBrIjkOLe7SCtbX8vQ https://juejin.cn/post/6844904158126931982 https://cloud.tencent.com/developer/article/1760936|
|%seq|[从nacos客户端的TIME_WAIT说起](问题排查/从nacos客户端的TIME_WAIT说起/从nacos客户端的TIME_WAIT说起.md)|https://www.helloworld.net/p/7466107267 https://zhuanlan.zhihu.com/p/380755493 https://xie.infoq.cn/article/412af472712ebea3c653ba269 https://www.jianshu.com/p/e2ce0fd1d8de https://mp.weixin.qq.com/s/rlnIAS4zI7qYTT7z1AIk4g https://juejin.cn/post/6844904152527536135 https://cloud.tencent.com/developer/article/1760934|
|%seq|[基准测试神器JMH——详解36个官方例子](其他/基准测试神器JMH——详解36个官方例子/基准测试神器JMH——详解36个官方例子.md)|https://zhuanlan.zhihu.com/p/381283590 https://xie.infoq.cn/article/9d8c81113a978540cc5793139 https://www.jianshu.com/p/a5b9865257f4 https://mp.weixin.qq.com/s/3mMhybfKjAQbZFK5kyMl5Q https://juejin.cn/post/6844904147674726407 https://cloud.tencent.com/developer/article/1760933|
|%seq|[skywalking内存泄露排查](问题排查/skywalking内存泄露排查/skywalking内存泄露排查.md)|https://www.mdnice.com/writing/e7e5e57c0a6f4b938c1feb69665ff868 https://zhuanlan.zhihu.com/p/384810941 https://xie.infoq.cn/article/ac7198569a6a80d1f35bb4be6 https://www.jianshu.com/p/1297f6512af6 https://mp.weixin.qq.com/s/GIC9TjWZUkOX7In91Tyqdg https://juejin.cn/post/6844904137629384712 https://cloud.tencent.com/developer/article/1760932|
|%seq|[一次漫长的dubbo网关内存泄露排查经历](dubbo/一次漫长的dubbo网关内存泄露排查经历/一次漫长的dubbo网关内存泄露排查经历.md)|https://zhuanlan.zhihu.com/p/386659890 https://xie.infoq.cn/article/89748fc4af3cb861206145e4a https://www.jianshu.com/p/3185dd1c9caa https://mp.weixin.qq.com/s/_hon_kgQfV-xwBR8Hfa9dA https://juejin.cn/post/6844904136157167630 https://cloud.tencent.com/developer/article/1760931|
|%seq|[nacos的一致性协议distro介绍](服务发现/nacos的一致性协议distro介绍/nacos的一致性协议distro介绍.md)|https://zhuanlan.zhihu.com/p/388715147 https://xie.infoq.cn/article/f75392c8948fcee4386c4616a https://www.jianshu.com/p/bb8d17073861 https://mp.weixin.qq.com/s/2Q_voaW8v0WSOqlSwF2G7A https://juejin.cn/post/6961235477760311327 https://cloud.tencent.com/developer/article/1760930|
|%seq|[当dubbo多注册中心碰上标签路由](dubbo/当dubbo多注册中心碰上标签路由/当dubbo多注册中心碰上标签路由.md)|https://www.mdnice.com/writing/f77db7d3a37e4232ab1fc400cf326e3a https://zhuanlan.zhihu.com/p/389146587 https://xie.infoq.cn/article/2c4f250b74f65ea7943635c18 https://www.jianshu.com/p/385e1150ed96 https://mp.weixin.qq.com/s/6TS3YhU27dYEXO4fVbvTEA https://juejin.cn/post/6844904130692005902 https://cloud.tencent.com/developer/article/1760926|
|%seq|[以为是青铜，没想到是王者的dubbo标签路由](dubbo/以为是青铜，没想到是王者的dubbo标签路由/以为是青铜，没想到是王者的dubbo标签路由.md)|https://zhuanlan.zhihu.com/p/392352196 https://xie.infoq.cn/article/495d95d8a42076a2b29d0aaab https://mp.weixin.qq.com/s/QpaSOj9Ca_wlQLT_4vOWWA https://juejin.cn/post/6844904122152386568 https://cloud.tencent.com/developer/article/1760924 https://www.jianshu.com/p/4460bb37f653|
|%seq|[Sentinel在docker中获取CPU利用率的一个BUG](问题排查/Sentinel在docker中获取CPU利用率的一个BUG/Sentinel在docker中获取CPU利用率的一个BUG.md)|https://xie.infoq.cn/article/e8160fff2cf05ac762701505f https://www.jianshu.com/p/60ed0060769c https://mp.weixin.qq.com/s/AHJKyIwwsRUy_SlIruZTiQ https://juejin.cn/post/6844904122152402951 https://cloud.tencent.com/developer/article/1760923|
|%seq|[记一次spring注解@Value不生效的深度排查](问题排查/记一次spring注解@Value不生效的深度排查/记一次spring注解@Value不生效的深度排查.md)| https://xie.infoq.cn/article/a25f2e3654350ffae28379eed https://www.jianshu.com/p/c34f0bda857a https://mp.weixin.qq.com/s/CLPDX06vW3nTsrRjhHKj2w https://juejin.cn/post/6844904121321930760 https://cloud.tencent.com/developer/article/1760920|

### 交流
1. 可以在本仓库提issue
2. 关注公众号，发消息，我都会第一时间回复